@inherits LayoutComponentBase

<div class="page row">

    @*<div class="col-auto">*@
    <div class="col-auto">
        <div class="sidebar">
            <NavMenu />
        </div>
    </div>

    <div class="col h-100">
        @Body

        @*<main class="h-100">
        <article class="content px-3">
        @Body
        </article>
        </main>*@
    </div>
</div>
