@inherits LayoutComponentBase

<div class="page row p-0 m-0">

    @*<div class="col-auto">*@
    <div class="col-2 p-0">
        <div class="sidebar">
            <NavMenu />
        </div>
    </div>

    <div class="col-10 h-100 p-0">
        @Body

        @*<main class="h-100">
        <article class="content px-3">
        @Body
        </article>
        </main>*@
    </div>
</div>
