@using Fb2.Document.Constants;
@using Fb2.Document.MAUI.Blazor.Playground.Components.InfoRenderers.Base;
@using Fb2.Document.Models;

@namespace Fb2.Document.MAUI.Blazor.Playground.Components.InfoRenderers

@inherits BookInfoRendererBase

@renderedResult

@code {

    [Parameter]
    public CustomInfo? CustomInfo { get; set; } = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (CustomInfo == null)
            return;

        var contents = new List<string>();
        var trimmedContent = CustomInfo.Content.Trim();

        if (!string.IsNullOrEmpty(trimmedContent))
            contents.Add(trimmedContent);

        if (CustomInfo.Attributes.Any())
            contents.AddRange(CustomInfo.Attributes.Select(a => $"{a.Key} {a.Value}"));

        if (contents.Count == 0)
            return;

        var results = string.Join(Environment.NewLine, contents.Where(s => !string.IsNullOrEmpty(s)).Select(s => $"<p>{s}</p>"));
        renderedResult = new MarkupString(results);
    }
}
