@page "/readBook"
@using Fb2.Document.Html;
@using Fb2.Document.MAUI.Blazor.Playground.Data;
@using Fb2.Document.MAUI.Blazor.Playground.Services;
@using System.Text;

@inject AppStateService AppStateService

<style>
    .textContainer {
        overflow-y: auto;
    }
</style>

<div class="h-100 textContainer">
    @foreach (var sectionString in bookContents)
    {
        <div class="h-auto p-3">@sectionString</div>
    }
</div>

@code {
    private List<MarkupString> bookContents;
    public BookModel BookModel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        BookModel = AppStateService.CurrentBookModel;
        var sb = new StringBuilder();
        var mappedResult = Fb2HtmlMapper.MapDocument(BookModel.Fb2Document);

        bookContents = mappedResult.Select(r => new MarkupString(r)).ToList();
    }
}
