@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content mw-100 px-4">
            @Body
        </article>
    </main>
</div>
